
<!DOCTYPE html>
<html>
<head>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>
<body>

<h2>Task</h2>
<table>
	<tr>
		<th>Descrição</th>
		<th>Data Inicio</th>
		<th>Data fim</th>
	</tr>
	<% for(var i in task){ %>
		<tr>
			<td><a  class="noticia_titulo"><%= task[i].descricao %></a></td>
			<td><a class="date" format="dd/MM/yyyy" ><%= task[i].data_inicio %> </a></td>
			<td><%= task[i].data_fim %></td>
		</tr>
	<% } %>
</table>
</body>
</html>
